<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mercasmartEntities" connectionString="metadata=res://*/EntityFramework.mercasmart.csdl|res://*/EntityFramework.mercasmart.ssdl|res://*/EntityFramework.mercasmart.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5aa7332f-c69f-49c2-8193-a362013d503a.sqlserver.sequelizer.com;persist security info=True;user id=bkqejurffguyrvsi;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>