<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mercasmartEntities" connectionString="metadata=res://*/EntityFramework.mercasmart.csdl|res://*/EntityFramework.mercasmart.ssdl|res://*/EntityFramework.mercasmart.msl;provider=System.Data.SqlClient;provider connection string='Data Source=MAR-PC\SQLEXPRESS;Initial Catalog=mercasmart;User ID=publicmar;Password=publicmar'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>